@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');

body {
    font-family: 'Dancing Script', cursive;
}

.inpText {
    width: 40%;
    height: 30vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}